

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--background);
}

.main {
  flex: 1;
}

.speechOverlayWrapper {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}

.speechOverlay {
  display: inline-block;
  pointer-events: auto;
}
