
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: var(--header);
}

.rightSide {
  display: flex;
  margin-inline: 30px;
  gap: 30px;
}

.demoRewardsButton {
  background: transparent;
  border: 2px solid white;
  margin-block: auto;
  padding: 10px 15px;
  border-radius: 12px;
  color: white;
}


.points {
  color: white;
  margin: auto 0;
  font-size: 20pt;
}

.logoSvg {
  height: 100%;
  padding: 7px;
  margin-left: 20px;
  box-sizing: border-box;
  aspect-ratio: 1;
}