body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




:root {
  --red: #ff0000;
  --light-red: #ffaaaa;
  --yellow: #eeee00;
  --light-yellow: #ffffaa;
  --green: #00cc11;
  --light-green: #aaddaa;
  --blue: #11bbff;
  --light-blue: #bbeeff;
}

