
.welcome {
    /* height: 100vh; */
    flex: 1;
    color: #FFFFFF;
    padding: 78px 72px;
    position: relative;
}

.top {
    font-weight: bold;
}

.welcomeText {
    font-size: 50px;
}

.subtitle {
    padding-top: 30px;
    font-size: 25px;
    color: #9CB9D4;
    text-transform: uppercase;
}

.pointsText{
    font-size: 150px;
}

.divisor {
    height: 4px;
    background: #AFAFAF;
}


.buttons {
    display: flex;
    padding: 0;
    margin-block: 30px;
    gap: 20px;
    
}

.button {
    height: 100px;
    /* width: 80%; */
    flex: 1;
    /* padding: 30px 0; */
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 32px;
    font-weight: 600;
    color: var(--background);
    box-shadow: 6px 6px 10px 9px #002C604D;
}

.button1 {
    composes: button;
    background: #ffd075;
    border: 6px solid #db9000;
}

.button2 {
    composes: button;
    background: #ECE9E2;
    border: 6px solid #c7c7c7;
}



.mascot {
    position: absolute;
    transform: rotate(-49deg);
    transform-origin: center right;
    bottom: 400px;
    right: -110px;
}



